# Settings
VIEW=

# Notion API
NOTION_API_TOKEN=
NOTION_DATABASE_ID=

# Google Drive API
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_API_KEY=
GOOGLE_REFRESH_TOKEN=
AUTH_SECRET=
NEXTAUTH_SECRET=
ROOT_FOLDER_ID=root

# daissue database
MYSQL_HOST_DAISSUE=
MYSQL_USER_DAISSUE=
MYSQL_PASSWORD_DAISSUE=
MYSQL_DATABASE_DAISSUE=
MYSQL_PORT_DAISSUE=

# kbmanager database
MYSQL_HOST_KBMANAGER=
MYSQL_USER_KBMANAGER=
MYSQL_PASSWORD_KBMANAGER=
MYSQL_DATABASE_KBMANAGER=
MYSQL_PORT_KBMANAGER=

# baljuanara deploy
SSH_HOST=
SSH_USER=
SSH_PORT=
SSH_PASSWORD=
SUDO_PASSWORD=

# baljuanara company db
{
  "데모": "",
  "동심사": ""
}