# Settings
VIEW=

# Notion API
NOTION_API_TOKEN=
NOTION_DATABASE_ID=

# daissue database
MYSQL_HOST_DAISSUE=
MYSQL_USER_DAISSUE=
MYSQL_PASSWORD_DAISSUE=
MYSQL_DATABASE_DAISSUE=
MYSQL_PORT_DAISSUE=

# kbmanager database
MYSQL_HOST_KBMANAGER=
MYSQL_USER_KBMANAGER=
MYSQL_PASSWORD_KBMANAGER=
MYSQL_DATABASE_KBMANAGER=
MYSQL_PORT_KBMANAGER=